
{{#each test}}
<h1>{{listname}}</h1>
<table class="pure-table pure-table-bordered">
  <thead>
    <tr>
        <th>Was</th>
        <th>Menge</th>
        <th>Mass</th>
    </tr>
  </thead>  
  <tbody>
    {{#each content}}
    <tr>
      <td>{{name}}</td>
      <td>{{quantity}}</td>
      <td>{{currency}}</td>
    </tr
    {{/each}}
  </tbody>
</table>
{{/each}}

<button id="myBtn" class="pure-button">
  <i class="fa fa-plus fa-lg"></i>
</button>

<!-- The Modal -->
<div id="myModal" class="modal">

  <!-- Modal content -->
  <div class="modal-content">
    <span class="close">&times;</span>
    <div class="page-header no-border">
      <div class="row">
        <h1>test erfassen</h1>
      </div>
    </div>

    <div class="row">
    {{#if errors.length }}
      <button class="btn btn-danger">
        {{#each errors}}
            {{ this.msg }}<br>
        {{/each}}
      </button>
    {{/if}}
    </div>


    <form class="form-horizontal" action="/test/create" method="post">
      <div class="row">
        <legend><i class="fa fa-plus" aria-hidden="true"></i> Test</legend>
      </div>

      <div class="form-group">
        <label for="name" class="col-sm-2 control-label">Name</label>
        <div class="col-sm-6">
          <input class="form-control naming typeahead" id="name" name="name" type="text" placeholder="Name">
        </div>
      </div>
      <div class="form-group">
        <label for="quantity" class="col-sm-2 control-label">Menge</label>
        <div class="col-sm-6">
          <input class="form-control typeahead" id="quantity" name="quantity" type="text" placeholder="Menge">
        </div>
      </div>
      <div class="form-group">
        <label for="currency" class="col-sm-2 control-label">Einheit</label>
        <div class="col-sm-6">
          <input class="form-control typeahead" id="currency" name="currency" type="text" placeholder="Einheit">
        </div>
      </div>

      <div class="form-group">
        <div class="col-sm-offset-2 col-sm-10">
          <button type="submit" class="btn btn-primary abmeldebutton">Speichern</button>
        </div>
      </div>


    </form>
  </div>

</div>

<script>
// Get the modal
var modal = document.getElementById('myModal');

// Get the button that opens the modal
var btn = document.getElementById("myBtn");

// Get the <span> element that closes the modal
var span = document.getElementsByClassName("close")[0];

// When the user clicks the button, open the modal
btn.onclick = function() {
    modal.style.display = "block";
}

// When the user clicks on <span> (x), close the modal
span.onclick = function() {
    modal.style.display = "none";
}

// When the user clicks anywhere outside of the modal, close it
window.onclick = function(event) {
    if (event.target == modal) {
        modal.style.display = "none";
    }
}
</script>
